@charset 'utf-8';
*{
    padding: 0;
    margin: 0;
}
.float-left{
    float: left;
}
.float-right {
    float: right;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.mt40{
    margin-top: 40rpx;
}
.mt60 {
    margin-top: 60rpx;
}